{% extends './base.html.twig' %}  

{% block body %}
            {{ encore_entry_link_tags('project_1') }}
<section class="project1">
    <div class="container">
        <div class="presentation">
                <h1>Maom</h1>
                <p>Il s'agit d'un site vitrine pour exposer les réalisations d'une décoratrice d'intérieur.</p>
        </div>
        <div class="project_show">
                <div class="col-6">
                    <div class="project1_img">
                        <a href="#modalWindow" data-bs-toggle="modal" type="button"> <img src="{{asset('build/project1_figma1.png')}}" alt="maquette_1"></a>
                        <a href="#modalWindow" data-bs-toggle="modal" type="button"> <img src="{{asset('build/project1_figma2.png')}}" alt="maquette_2"></a>
                    </div>
                </div>
                <div class="col-6">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque maiores beatae iusto, dicta expedita commodi vitae eos sint unde saepe nihil culpa aspernatur quidem ipsa architecto! Ea necessitatibus sed veniam.</p> 
                    <div class="project2_img">
                        <a href="#modalWindow" data-bs-toggle="modal" type="button"><img src="{{asset('build/maom_4.png')}}" alt="maom_1"></a> 
                        <a href="#modalWindow" data-bs-toggle="modal" type="button" ><img src="{{asset('build/maom_1.png')}}" alt="maom_2"> </a>
                    </div>
                </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="modalWindow" data-bs-keyboard="true" tabindex="-1" aria-labelledby="modal carousel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
    <div class="modal-content">
        <button type="button" class="btn btn-secondary " data-bs-dismiss="modal" id="echap"><i class="fa-solid fa-x"></i></button>

    <div class="modal-body">
        <div id="carouselExampleIndicators" class="carousel slide">    
                    <div class="carousel-inner">
                                <div class="carousel-item active">
                                <img src="{{asset('build/maom_figma3.png')}}" class="d-block" alt="">
                                </div>
                    <div class="carousel-item">
                                <img src="{{asset('build/figma_maom_services.png')}}" class="d-block" alt="">
                                </div>
                    <div class="carousel-item">
                                <img src="{{asset('build/maom_figma_4.png')}}" class="d-block" alt="">
                                </div>
                    <div class="carousel-item">
                                <img src="{{asset('build/projet_maom.png')}}" class="d-block" alt="">
                                </div>
                    <div class="carousel-item">
                                <img src="{{asset('build/maom_4.png')}}" class="d-block" alt="">
                                </div>
                    <div class="carousel-item">
                                <img src="{{asset('build/maom_2.jpg')}}" class="d-block" alt="">
                                </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                  
        </div>
        <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>

                </div>
      </div>
    </div>
  </div>
</div>
            {{ encore_entry_script_tags('project_1') }}
</section>    
{% endblock %}