            {{ encore_entry_link_tags('projects') }}

<section class="projects" id="projects">
    <div class="container">
        <div class="projects__title reveal-">
            Mes Projets
        </div>
        <div class="card sm-block reveal-">
            <div class="card__project reveal-2" >
                <a href="{{url('project_1')}}"><img src="{{asset('build/projet_maom.png')}}" alt="projet_Maom"></a>
                    <div class="card__body">
                        <p>Php/Symfony - Html/Js/Scss/Webpack</p> 
                        <a href=""><h5>Maom</h5></a>
                        <p>Réalisation d'un site vitrine</p>
                        <div class="card__button">
                            <a href="{{url('project_1')}}">
                                <button type='submit'> 
                                    <span>En savoir plus
                                        <i class="fa-solid fa-angle-right">
                                        </i>
                                    </span>
                                </button>
                            </a>
                        </div>
                    </div>
            </div>
            <div class="card__project reveal-3" ><a href="{{url('project_2')}}"><img src="https://www.combustible.ca/wp-content/uploads/2020/02/pouvoir-visuel-images-site-web.jpg" alt="projet_campusEntreprendre"></a>
                <div class="card__body">
                    <p>Bubble.io</p>
                    <a href="{{url('project_2')}}"><h5>Campus entreprendre</h5></a>
                    <p>Migration d'un site File Maker en Bubble.io (lowCode)</p>
                    <div class="card__button">
                            <a href="{{url('project_2')}}">
                                <button type='submit'> 
                                    <span>En savoir plus
                                        <i class="fa-solid fa-angle-right">
                                        </i>
                                    </span>
                                </button>
                            </a>
                    </div>
                </div>
            </div>
            <div class="card__project reveal-4"><a href="{{url('project_3')}}"><img src="https://www.heurtevent.net/wp-content/uploads/2014/07/site-web-creation.png" alt=""></a>
                <div class="card__body">
                    <p>Php - Html/Css</p>
                    <a href="{{url('project_3')}}"><h5>Bonito</h5></a>
                    <p>Site e-commerce (Projet de fin d'études)</p>
                    <div class="card__button">
                            <a href="{{url('project_3')}}">
                                <button type='submit'> 
                                    <span>En savoir plus
                                        <i class="fa-solid fa-angle-right">
                                        </i>
                                    </span>
                                </button>
                            </a>
                    </div>
                </div>
            </div>
            <div class="card__project reveal-5"><a href="{{url('project_4')}}"><img src="https://www.lauyan.com/fr/_media/img/medium/responsive-showcase-presentation-restaurant.jpg" alt=""></a>
                <div class="card__body">
                    <p>Php/Symfony - Html/Js/Scss/Webpack</p>
                    <a href="{{url('project_4')}}"><h5>VinyleStore</h5></a>
                    <p>Site personnel e-commerce</p>
                    <div class="card__button">
                            <a href="{{url('project_4')}}">
                                <button type='submit'> 
                                    <span>En savoir plus
                                        <i class="fa-solid fa-angle-right">
                                        </i>
                                    </span>
                                </button>
                            </a>
                    </div>
                </div>
            </div>
            <div class="card__project reveal-6"><a href=""><img src="https://www.lauyan.com/fr/_media/img/medium/responsive-showcase-presentation-restaurant.jpg" alt=""></a>
                <div class="card__body">
                    <p>Php/Symfony - Html/Js/Scss/Webpack</p>
                    <a href="{{url('project_5')}}"><h5>BiblioSf5</h5></a>
                    <p>Site vitrine bibliothèque</p>
                    <div class="card__button">
                            <a href="{{url('project_5')}}">
                                <button type='submit'> 
                                    <span>En savoir plus
                                        <i class="fa-solid fa-angle-right">
                                        </i>
                                    </span>
                                </button>
                            </a>
                    </div>
                </div>
            </div>
            
        </div>
</section>
        {{ encore_entry_script_tags('projects') }}
